extends layout

block content
	header
		nav
			ul
				li
					a(href="/") Home
				li
					a(href="/about") About
				li
					a(href="/contact") Contact
	- var title = value
	div#main_content
		if title == "about"
			h1 about
		if title == "home"
			h1 home
		if title == "contact"
			h1 contact
	section#wrapper!= body
		footer
			section.css-table
				section.four-column
					section.cell
						p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
					section.cell
						p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
					section.cell
						p Mauris porttitor <br /> fe;os eu leo aliquet<br /> ac rutrum odio aliquet
					section.cell
						p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet